.is-success:hover {
  background-color: red !important;
}

canvas {
  animation-name: aNeunov;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes aNeunov {
  from {box-shadow: 1px 1px 38px green;}
  to {box-shadow: 1px 1px 38px cyan;}
}
